.navigation {
    padding: 30px 65px;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
  }
  
  .navigation ul {
    font-size: 25px;
    padding: 80px 150px;
    color: black;
    display: flex;
    gap: 70px;
    list-style-type: none;
    font-weight: 500;
  }
 
 
  